---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Activities" sideBarActiveItemID="activities">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Select Talks</div>
  </div>

  <div>
      <div class="text-normal w-full mb-5">2026 EAS Annual meeting in Lausanne, Switzerland</div>
      <div class="text-normal w-full mb-2"><a href="https://eas.unige.ch/EAS2026/" target="_blank" rel="noopener noreferrer" class="underline hover:text-blue-500">EAS2026</a>-SS26: Planning the future of large-scale (sub-)mm astrophysics
  </div>

    <div>
      <div class="text-normal w-full mb-5">DAOISM 2026 in Paris, France</div>
      <div class="text-normal w-full mb-2"><a href="https://daoism2026.sciencesconf.org/?lang=en" target="_blank" rel="noopener noreferrer" class="underline hover:text-blue-500">DAOISM2026</a> - <div class="text-normal w-full mb-2"><a href="https://youtu.be/_E5MRWfcPPc?si=5v-yg10RRQsOG3M2" target="_blank" rel="noopener noreferrer" class="underline hover:text-blue-500">Youtube link</a>
  </div>


  <div>
    <div class="text-3xl w-full font-bold mb-5">Outreach</div>
  </div>

<BaseLayout
