---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---
<BaseLayout title="Activities" sideBarActiveItemID="activities">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Select Talks</div>
  </div>

  <div class="flex flex-col gap-4">

    <div class="p-4 rounded-lg shadow-md border border-gray-200 hover:shadow-lg transition-shadow">
      <div class="text-lg font-semibold mb-1">2026 EAS Annual Meeting — Lausanne, Switzerland</div>
      <div class="text-sm text-gray-500 mb-2">
        <a href="https://eas.unige.ch/EAS2026/" target="_blank" rel="noopener noreferrer" class="underline hover:text-blue-500">EAS2026</a>
        — Contributed talk at SS26: Planning the future of large-scale (sub-)mm astrophysics
      </div>
    </div>

    <div class="p-4 rounded-lg shadow-md border border-gray-200 hover:shadow-lg transition-shadow">
      <div class="text-lg font-semibold mb-1">DAOISM 2026 — Paris, France</div>
      <div class="text-sm text-gray-500 mb-2 flex flex-wrap gap-2 items-center">
        <a href="https://daoism2026.sciencesconf.org/?lang=en" target="_blank" rel="noopener noreferrer" class="underline hover:text-blue-500">DAOISM2026</a>
        <span>·</span>
        <a href="https://youtu.be/_E5MRWfcPPc?si=5v-yg10RRQsOG3M2" target="_blank" rel="noopener noreferrer" class="underline hover:text-blue-500">YouTube recording</a>
        - Contributed talk
      </div>
    </div>

    <div class="p-4 rounded-lg shadow-md border border-gray-200 hover:shadow-lg transition-shadow">
      <div class="text-lg font-semibold mb-1">2024 Evolution of Dust and Gas throughout Cosmic Time — Hiroshima, Japan</div>
      <div class="text-sm text-gray-500 mb-2">
        <a href="https://www.dg2024.hasc.hiroshima-u.ac.jp/home" target="_blank" rel="noopener noreferrer" class="underline hover:text-blue-500">Evolution of Dust and Gas Throughout Cosmic Time</a>
          - Poster
      </div>
    </div>

    <div class="p-4 rounded-lg shadow-md border border-gray-200 hover:shadow-lg transition-shadow">
        <div class="text-lg font-semibold mb-1">2024 ASA ECR Seminar Series at Macquarie Univ. - Sydney, Australia</div>
      <div class="text-sm text-gray-500 mb-2">
          <a href="https://www.youtube.com/@asaearlycareerresearchersc1359" target="_blank" rel="noopener noreferrer" class="underline hover:text-blue-500">Youtube Channel</a>
      </div>
          - ECR seminar talk (Recording not available at the moment) 
    </div>



  </div>
</BaseLayout>
