---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">CV</div>
  </div>

  <iframe src="https://docs.google.com/viewer?url=https://astro-hjpark.githu.io/cv.pdf&embedded=true"
        width="600" height="800" style="border:none;">
</iframe>


  <div class="mb-10 text-justify">
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD in Astronomy and Astrophysics"
      subtitle="Mar. 2022 to Dec. 2025 at Australian National Unviersity, Canberra, Australia"
    />
    <TimeLineElement
      title="MSc in Astronomy and Space Science"
      subtitle="Sep. 2019 to Aug. 2021 at Sejong University, Seoul, South Korea"
    />
    <TimeLineElement
      title="BSc in Astronomy and Space Science"
      subtitle="Mar. 2015 to Aug. 2019 at Chungnam National University, Daejeon, South Korea"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Academic Employment</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Postdoctoral Researcher"
      subtitle="From Dec. 2025 to Present at CEA Paris-Saclay, Gif-sur-Yvett, France"
    >
      Supervisor: Fr&eacute;d&eacute;ric Galliano
    </TimeLineElement>
    <TimeLineElement
      title="Postmaster Research Assistant"
      subtitle="From Sep. 2021 to Jan. 2022 at Sejong University, Seoul, South Korea"
    >
      Supervisor: Se-Heon Oh
    </TimeLineElement>
    <TimeLineElement
      title="Undergraduate Research Assistant"
      subtitle="From Aug. 2018 to Aug. 2019 at Chungnam National University, Daejeon, South Korea"
    >
      Supervisor: Young Sun Lee
    </TimeLineElement>
  </div>

</BaseLayout>
