---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Welcome! 🤗 </div>
    <div class="text-5xl font-bold">I'm Hye-Jin Park</div>
    <div class="text-3xl py-3 font-bold">Astronomer</div>
    <div class="py-2">
      <text class="text-lg">
        I am a postdoctoral researcher at CEA Paris-Saclay, France, studying the interstellar medium and its role in galaxy evolution. My research focuses on how the properties of dust, the transition of atomic to molecular hydrogen, and star formation vary across galaxies with different metallicities.
    </div>
  </div>

<div class="py-2 flex justify-center gap-4">
    <img src="photo1.jpeg" alt="Hye-Jin Park" class="w-48 h-auto rounded-lg shadow-md">
    <img src="photo2.jpeg" alt="Hye-Jin Park" class="w-48 h-auto rounded-lg shadow-md">
</div>

<div class="text-3xl py-3 font-bold">Contact details</div>
  <div class="py-2">
      <text class="text-lg">

        'hyejin.park s h i f t 2 cea DOT fr' or  <br>
        'hjinparklee s h i f t 2 gmail DOT com'  <br> <br>

        Département D'Astrophysique (DAp)  <br>
        Astrophysique Instrumentation Modélisation (AIM, UMR 7158)  <br>
        Laboratoire Formation d'Étoiles et Milieu Interstellaire (LFEMI)  <br>
        Orme des Merisiers, bât. 709 <br>
        CEA Paris-Saclay <br>
        91191 Gif-sur-Yvette, France
        
    </div>

</BaseLayout>
