---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Research" sideBarActiveItemID="research">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Research</div>
  </div>
  
  <div>
    <div class="text-normal w-full mb-5">sub-mm excess</div>
  </div>

  <div class="mt-4 mb-4">



</BaseLayout>
