---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Research" sideBarActiveItemID="research">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Research</div>
  </div>
  
  <div class="text-xl w-full mb-5"> Interstellar medium in galaxies</div>
  
  <div>
    <div class="text-justify w-full mb-5">
      Galaxies are gravitationally bound systems of stars, gas, dust, metals, and dark matter. Understanding the physical properties of the interstellar medium (ISM) is therefore crucial, as they regulate star formation and ultimately drive galaxy evolution.
    </div>

    <div class="text-justify w-full mb-5">
    The ISM, consisting primarily of gas (mostly hydrogen and helium), dust, cosmic rays, and magnetic fields, forms a dynamic environment where they are intricately linked in a continuous cycle that regulates galaxy evolution. This cycle, illustrated
    in the figure below, begins with multi-phase gas — A) diffuse, warm clouds cool down to the cold neutral medium and B) condense into molecular gas clouds dominated by molecular hydrogen (H<sub>2</sub>). In this cooling process, dust grains play a critical role,
    acting as coolants and catalysts while shielding the clouds from the intense radiation of hot, massive stars. C) Stars then form in the cold, dense cores of these molecular clouds, D) the stars produce heavier elements (metals) through nuclear fusion over their lifetimes. 
    E) These elements are returned to the ISM through stellar winds and, more dramatically, during the final stages of stellar evolution, such as supernova explosions. This ongoing enrichment builds up the reservoirs of metals and dust in
    the ISM, driving the chemical evolution of galaxies as successive generations of stars form from the metal-enriched gas.
    </div>

    <div class="py-2 flex justify-center gap-4">
      <img src="/ISMcycle.png" alt="ISM cycle" class="w-auto h-auto rounded-lg shadow-md">
    </div>

    <div class="text-justify w-full mb-5">
    Galaxies in the observable universe difer in size, brightness, and measurable properties such as stellar, gas, and dust mass and their fraction, and metallicity. Based on the morphology, they are often classified into early-type (elliptical), late-type (spiral)
    and irregular galaxies. The Milky Way (MW), where our solar system resides, is one of the spiral galaxies: large and bright, with spiral arms and a central bar structure. Late-type galaxies typically contain high stellar masses, and their ISM contributes only 10 - 20% of the total baryonic mass (Saintonge & Catinella 2022).
    These systems are generally metal-rich, with metallicity of Z ~ 0.5-1 Z<sub>☉</sub>, and their ISM contains dust mass of ~ 1% of the gas mass, corresponding to a DGR of ~ 0.01 (Galliano 2018). They also host relatively high densities of molecular gas, which fuels ongoing active star formation. 
    In contrast, dwarf irregular galaxies with lower stellar masses host a larger ISM fraction, up to 50% of their total baryonic mass (e.g., Huang et al. 2012). The Small Magellanic Cloud (SMC), one of the orbiting
    galaxies around the MW, is a well-studied example of this type. Such dwarf systems are typically metal-poor (Z &lt; 0.5 Z<sub>☉</sub>), exhibit low molecular gas content (e.g., Walter et al. 2007), and contain relatively little dust, with DGR values below 0.01 (e.g., Lisenfeld & Ferrara 1998; Walter et al. 2007; Remy-Ruyer et al. 2014).
    </div>
  </div>

  <div class="mt-4 mb-4">



</BaseLayout>
