<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">

    <a href="https://orcid.org/0000-0002-9809-6631" target="_blank" class="mx-3" aria-label="ORCID" title="ORCID">
        <img src="orcid.svg" alt="ORCID" class="w-6 h-6">
    </a>
    <a href="https://ui.adsabs.harvard.edu/user/libraries/NNfd214KSy6-34d0_PsxpQ" target="_blank" class="mx-3" aria-label="ADSABS" title="ADSABS">
        <img src="ads.svg" alt="ADSABS" class="w-6 h-6">
    </a>
    <a href="https://x.com/astro_h_park" target="_blank" class="mx-3" aria-label="X" title="X">
        <img src="x.svg" alt="X" class="w-6 h-6">
    </a>
</div>
